{% extends 'core/base.html' %}
{% block title %} Acerca de {% endblock %}

{% load static %}
{% block content %}
<section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <!--<span class="section-heading-upper">Tradición familiar italiana</span>-->
                  <span class="section-heading-lower">Nuestra historia</span>
                </h2>
                <!-- <table>
                <td width="50%">-->
                  <p><b> Nuestra razón de ser </b> </p> 
                  <p> H4 supone el reencuentro de un grupo de personas que cuentan con gran experiencia en el campo de los cursos de idiomas y el ocio gracias a los conocimientos que les fueron transmitidos con  gran éxito en un pasado no muy lejano y que en octubre de 2014, se vuelven a juntar tras recibir formación de diferentes índoles y desarrollar experiencias profesionales diversas para generar un engranaje perfecto que tan sólo persigue el objetivo de hacer más fácil y cercano el aprendizaje del inglés.  </p> 
                  <p> H4, de momento, no persigue revolucionar el mundo de los idiomas, empezaremos haciendo lo que sabemos, pues  no aspiramos a ser los mejores del mercado, pero si a generar la mejor versión de nosotros mismos cada día y a hacer crecer a todos aquellos que quieran vivir esta experiencia cerca nuestro. </p> 
                  <p> Nuestra historia empieza ahora, aunque para nosotros hace mucho que ya empezó y esta circunstancia nos hace vivir con los pies en el suelo, pero con la ambición por los cielos. </p> 
                  <p> Para empezar nuestra aventura, hemos elegido Irlanda, porque es una tierra que creemos conocer bien y por lo tanto, consideramos que reúne todas las condiciones para acoger cursos de inglés en el extranjero por dos razones primordiales: </p> 
                  <ul>
                    <li> La hospitalidad de familias acogedoras y de sus habitantes.
                    <li> La fácil comprensión de la lengua inglesa hablada por los irlandeses en general.
                  </ul>
                  <p><b> Nos vemos en el futuro, porque allí tenemos guardados todos nuestros sueños.</b> </p>
                <!-- </td>
                <td width="50%"> -->
                <p><b> Nuestra filosofía</b></p>
                <p> H4 encierra en su propio nombre, su razón de existir y los valores que desea transmitir. Os presentamos <b> el poder de las cuatro haches:</b></p>
                <p> <b>Humanidad:</b> si esta no se tiene en cuenta, el trato entre personas y el respeto mutuo entre ellas, todos perdemos nuestra razón de ser. Si no sabemos ponernos en el sitio de otros y ver las cosas con diferentes prisma es difícil convivir.</p> 
                <p> <b>Humildad:</b> La aceptación de los errores realizados involuntariamente en el desarrollo de nuestras funciones, da pie a una más pronta y práctica rectificación. Con humildad, se plantean mejor los objetivos y se alcanza más fácilmente el consenso.</p> 
                <p> <b>Honestidad:</b> Una gestión sin doblez, transparente y nítida se lleva a cabo cuando inviertes grandes dosis de honestidad a tus acciones, esta debe ser transversal a todos los ámbitos de la empresa, de puertas hacia adentro y hacia afuera. </p> 
                <p> <b>Humor:</b> Se dice que la pérdida de valores en la sociedad ha venido precedida por la poca credibilidad que las personas nos concedemos a nosotros mismos. Para generar una atmósfera de confianza se llega por medio del buen humor, pues nada hay más curativo que el poder de una sonrisa sincera y completa y hoy la sociedad, en general, adolece de humor.</p> 
                <p> Con todo esto pretendemos en H4 acortar las distancias que existen entre las empresas y la personas y para ello nunca hay que olvidar estos valores, porque… una compañía que respeta sus valores conoce su dirección siempre. </p> 
                <p> Y estos somos nosotros… los que nos hemos puesto como meta que cuando quieras aprender inglés no te sientas sólo. </td>
                <!--</table>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}